.itemsWrapper {
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
}

.itemsWrapper > div:not(:last-child) {
    position: relative;
}
.itemsWrapper > div:not(:last-child)::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -15px;

    width: 100%;
    height: 1px;

    background-color: var(--divider-color);
}

.right {
    display: grid;
    grid-auto-flow: row;
    gap: 5px
}
.singleItem {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;

    max-height: 180px;
}
.productImg {
    height: auto;
    width: 100%;

    max-width: 100%;

    box-sizing: border-box;
}
.productImg img {
    width: 100%;
    object-fit: contain;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    overflow:hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;

    color: inherit;

    max-height: calc(var(--p-line-height) * 2);
    -webkit-line-clamp: 2;
}

.actions {
    display: flex;
    align-items: center;
}
.actions button {
    border-radius: 50%;
    height: 40px;
    width: 40px;

    padding: 0;

    box-sizing: border-box;

    display: grid;
    place-items: center;
}
.actions > *:not(:first-child) {
    margin-left: 15px;
}

.emptyState {
    padding: 20px 0;
}