.card {
    cursor: pointer;
}
.card:hover .title {
    color: var(--main-color);
}

.imgContainer {
    max-height: 100px;
    height: 100%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
    
    object-fit: contain;
    overflow-x: hidden;

    margin-bottom: 10px;
}
.imgContainer > img {
    height: 100%;
    width: auto;

    object-fit: contain;
}

.text {
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 44px 22px;
    gap: 10px;
}
.title {
    font-weight: 600;
}
.description {
    color: var(--light-text-color);
    /* height: 150px;
    width: auto; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}