.productWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.productImg {
    height: auto;
    width: 100%;

    max-width: 500px;

    box-sizing: border-box;
}
.productImg img {
    width: 100%;
    object-fit: contain;
}

.right > div:not(:first-child) {
    position: relative;
    margin-top: 30px;
}
.right > div:not(:last-child) {
    position: relative;
}
.right > div:not(:last-child)::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -15px;

    width: 100%;
    height: 1px;

    background-color: var(--divider-color);
}
.body > *:not(:first-child) {
    margin-top: 10px;
}
.actions {
    display: flex;
    align-items: center;
}
.actions input {
    margin-right: 20px;
}