/* UTIL STYLES */
.clamped {
    max-width: var(--max-width-section);
    padding: 60px var(--side-padding);
    margin: 0 auto;
}
.clamped-wider {
    max-width: var(--max-width-main-section);
    padding: 60px var(--side-padding);
    margin: 0 auto;
}
.bold {
    font-weight: 600;
}

.toaster {
    font-size: 1.1rem;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline !important;
}
