/* Default is light */
section, section[dark], [dark], .dark {
    background-color: var(--main-background);
    color: var(--main-text-color);
}
section[darker], [darker], .darker {
    background-color: var(--secondary-background);
    color: var(--main-text-color);
}
section[light], [light], .light {
    background-color: var(--tertiary-background);
    color: var(--dark-text-color);
}

.clamped {
    max-width: var(--max-width-section);
    padding: 60px var(--side-padding);
    margin: 0 auto;
}

button {
    display: inline-block;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--main-color);
    color: var(--dark-text-color);
    padding: 10px 25px;
    white-space: nowrap;
    transition: background-color 0.2s ease-out;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;

    border: none;
    outline: none;

    cursor: pointer;

    text-transform: capitalize;
}
button:hover, button:active {
    background-color: var(--main-color-darker);
}

input {
    padding: 0 10px;
    height: 41px;

    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.link {
    color: var(--main-color);
}
.link:hover {
    text-decoration: underline;
}

.link.subtle {
    color: inherit;
}
.link.subtle:hover {
    color: var(--main-color);
    text-decoration: none;
}


.bold {
    font-weight: 600;
}