body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: clamp(1.75rem, 3vw, 2.1rem);
  color: var(--main-text-color);
  line-height: 1.5;
  font-weight: 400;

  margin-top: var(--nav-height) !important;

  height: auto;
  overflow-y: auto;
}

:root {
  --main-color: hsl(193, 95%, 68%);
  --main-color-darker: hsl(193, 95%, 48%);

  --main-background: #282c34;
  --secondary-background: #20232a;
  --tertiary-background: #ffffff;

  --divider-color: hsl(0, 0%, 73%);

  --nav-height: 60px;
  --max-width-section: 1220px;
  --side-padding: 5%;

  --card-shadow: rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 3px 1px -2px, rgb(0 0 0 / 20%) 0px 1px 5px 0px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;

}