body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);

  font-size: clamp(1.75rem, 3vw, 2.1rem);
  color: white;
  line-height: 1.1;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: #61dafb;

  --main-background: #282c34;
  --secondary-background: #20232a;

  --main-text-color: #282c34;

}

a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

h1 {
  --fluid-type-min: 2.5rem;
  --fluid-type-max: 5rem;
  --fluid-type-target: 5vw;

  max-width: 15ch;
  line-height: 1;
  font-weight: 600;
}

h2 {
  --fluid-type-min: 1.8rem;
  --fluid-type-max: 3rem;
}

h3 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2.5rem;
}

h2,
h3 {
  max-width: 30ch;

  line-height: 1.1;
  font-weight: 600;
}

p {
  max-width: 60ch;

  line-height: 1.4;
  font-weight: 400;
}
