body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-background);

  font-size: clamp(1.75rem, 3vw, 2.1rem);
  color: var(--main-text-color);
  line-height: 1.1;
  font-weight: 400;

  margin-top: var(--nav-height);

  height: auto;
  overflow-y: auto;
}

:root {
  --main-color: #60d9fb;
  --main-color-darker: hsl(193, 95%, 48%);

  --main-background: #282c34;
  --secondary-background: #20232a;
  --tertiary-background: #ffffff;

  --main-text-color: #ffffff;
  --dark-text-color: #282c34;
  --light-text-color: #929292;

  --divider-color: hsl(0, 0%, 93%);

  --nav-height: 60px;
  --max-width-section: 1220px;
  --side-padding: 5%;

  --card-shadow: rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 3px 1px -2px, rgb(0 0 0 / 20%) 0px 1px 5px 0px;

  --h1-line-height: 4rem;
  --medium-line-height: 3.5rem;
  --p-line-height: 1.4rem;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

h1 {
  --fluid-type-min: 2.5rem;
  --fluid-type-max: 5rem;
  --fluid-type-target: 5vw;

  max-width: 15ch;
  line-height: var(--h1-line-height);
  font-weight: 600;
}

h2 {
  --fluid-type-min: 1.8rem;
  --fluid-type-max: 3rem;
}

h3 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2.5rem;
}

h2,
h3 {
  max-width: 30ch;

  line-height: var(--medium-line-height);
  font-weight: 600;
}

p {
  max-width: 60ch;

  line-height: var(--p-line-height);
  font-weight: 400;
}

p.small {
  --fluid-type-min: .85rem;
  --fluid-type-max: 1rem;
}
