.nav {
    background-color: var(--secondary-background);
    color: var(--main-text-color);
    position: fixed;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;

    height: var(--nav-height);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--side-padding);
}

.navLinks {
    display: flex;
    align-items: center;
}
.navLinks > li, .nav > .logo {
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;

    cursor: pointer;
}
.navLinks > li:hover {
    color: var(--main-color);
}
.navLinks > li:not(:first-child) {
    margin-left: 5px;
}