.nav {
    background-color: var(--secondary-background);
    color: var(--main-text-color);
    position: fixed;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;

    height: var(--nav-height);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--side-padding);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
}

.navLinks {
    display: flex;
    align-items: center;
}
.nav > ul, .navLinks > li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main-text-color) !important;
}
li > a {
    color: inherit;

    display: flex;
    align-items: center;
}
li > a:hover, .active {
    color: var(--main-color);
    text-decoration: none;
}
.logo > h2 {
    font-size: 3rem;
}
.navLinks > li, .nav > .logo {
    height: 100%;
    padding-left:10px;
    padding-right:10px;
    box-sizing: border-box;

    cursor: pointer;

}
.navLinks > li:hover {
    color: var(--main-color);
}
.navLinks > li:not(:first-child) {
    margin-left: 5px;
}

.iconContainer {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    box-sizing: border-box;
    position: relative;
}
.iconContainer svg {
    height: 100%;
    width: auto;

    color: inherit;
    fill: inherit;
}

.floatingNumber {
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 1;
   
    font-size: .9rem;

    height: 23px;
    width: 23px;

    background-color: var(--main-color);
    color: var(--secondary-background);
    /* background-color: var(--secondary-background);
    color: var(--main-color); */

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    transition: all 200ms ease;
}
.animate {
    transform: scale(1.3);
}